# Import and Clean Data

In [1]:
import pandas as pd

In [2]:
file_dir='C://Users/Ian/Desktop/Misc_Projects/Sales_Tax_Analysis/Sales_Tax_Collections_by_State.csv'

df = pd.read_csv(file_dir)

df.head()

,state,month,year,tax type,value,fips state,numeric month,note,id
0,Florida,July,2019,motor fuel,241299325.0,12,7,NaN,12_2019_7
1,Alabama,October,2022,motor fuel,80850005.0,1,10,NaN,1_2022_10
2,Alaska,October,2022,motor fuel,NaN,2,10,NaN,2_2022_10
3,Arizona,October,2022,motor fuel,67962955.0,4,10,NaN,4_2022_10
4,Arkansas,October,2022,motor fuel,47025345.0,5,10,NaN,5_2022_10

In [3]:
df['note'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: note, dtype: float64

In [4]:
# Drop the redundant "note" column which is blank throughout the entire dataset
df_v1 = df.drop('note', axis=1)

In [5]:
# Drop rows with null values in the 'value' column
df_v2 = df_v1[df_v1['value'].notna()]
df_v2.head()

,state,month,year,tax type,value,fips state,numeric month,id
0,Florida,July,2019,motor fuel,241299325.0,12,7,12_2019_7
1,Alabama,October,2022,motor fuel,80850005.0,1,10,1_2022_10
3,Arizona,October,2022,motor fuel,67962955.0,4,10,4_2022_10
4,Arkansas,October,2022,motor fuel,47025345.0,5,10,5_2022_10
5,California,October,2022,motor fuel,759581000.0,6,10,6_2022_10

In [6]:
# Create a national df once data has been cleaned
nat_df = df_v2

nat_df.head()

,state,month,year,tax type,value,fips state,numeric month,id
0,Florida,July,2019,motor fuel,241299325.0,12,7,12_2019_7
1,Alabama,October,2022,motor fuel,80850005.0,1,10,1_2022_10
3,Arizona,October,2022,motor fuel,67962955.0,4,10,4_2022_10
4,Arkansas,October,2022,motor fuel,47025345.0,5,10,5_2022_10
5,California,October,2022,motor fuel,759581000.0,6,10,6_2022_10

# Exploratory Analysis

### Identify how Ohio compares to the national averages

In [7]:
# Acquire averages on a national level
nat_mean = nat_df['value'].mean()
nat_med = nat_df['value'].median()

print(f'National Mean: ${nat_mean:,.2f}')
print(f'National Median: ${nat_med:,.2f}')

National Mean: $96,118,634.59
National Median: $61,096,398.00

In [8]:
ohio_df = nat_df.loc[nat_df['state']=='Ohio']

ohio_df.head()

,state,month,year,tax type,value,fips state,numeric month,id
1346,Ohio,April,2019,motor fuel,158966637.0,39,4,39_2019_4
1347,Ohio,April,2020,motor fuel,155490571.0,39,4,39_2020_4
1348,Ohio,April,2021,motor fuel,220850767.0,39,4,39_2021_4
1349,Ohio,April,2022,motor fuel,215434820.0,39,4,39_2022_4
1350,Ohio,August,2019,motor fuel,244895720.0,39,8,39_2019_8

In [9]:
oh_mean = ohio_df['value'].mean()
oh_med = ohio_df['value'].median()

oh_mean_diff = oh_mean-nat_mean

print(f'Ohio Mean: ${oh_mean:,.2f}')
print(f'Ohio Median: ${oh_med:,.2f}')

print(f'\nOhio had ${oh_mean_diff:,.2f} compared to the national average.')

Ohio Mean: $212,794,264.88
Ohio Median: $219,103,371.00

Ohio had $116,675,630.29 compared to the national average.

### Identify if Ohio has any particular months which generate more revenue on average

In [10]:
ohio_df.head()

,state,month,year,tax type,value,fips state,numeric month,id
1346,Ohio,April,2019,motor fuel,158966637.0,39,4,39_2019_4
1347,Ohio,April,2020,motor fuel,155490571.0,39,4,39_2020_4
1348,Ohio,April,2021,motor fuel,220850767.0,39,4,39_2021_4
1349,Ohio,April,2022,motor fuel,215434820.0,39,4,39_2022_4
1350,Ohio,August,2019,motor fuel,244895720.0,39,8,39_2019_8

In [11]:
oh_months = ohio_df.groupby(by='month',sort='year')

oh_months.describe()

           year                                                              \
          count    mean       std     min      25%     50%      75%     max
month
April       4.0  2020.5  1.290994  2019.0  2019.75  2020.5  2021.25  2022.0
August      4.0  2020.5  1.290994  2019.0  2019.75  2020.5  2021.25  2022.0
December    3.0  2020.0  1.000000  2019.0  2019.50  2020.0  2020.50  2021.0
February    3.0  2021.0  1.000000  2020.0  2020.50  2021.0  2021.50  2022.0
January     3.0  2021.0  1.000000  2020.0  2020.50  2021.0  2021.50  2022.0
July        4.0  2020.5  1.290994  2019.0  2019.75  2020.5  2021.25  2022.0
June        4.0  2020.5  1.290994  2019.0  2019.75  2020.5  2021.25  2022.0
March       3.0  2021.0  1.000000  2020.0  2020.50  2021.0  2021.50  2022.0
May         4.0  2020.5  1.290994  2019.0  2019.75  2020.5  2021.25  2022.0
November    3.0  2020.0  1.000000  2019.0  2019.50  2020.0  2020.50  2021.0
October     3.0  2020.0  1.000000  2019.0  2019.50  2020.0  2020.50  2021.0
September   4.0  2020.5  1.290994  2019.0  2019.75  2020.5  2021.25  2022.0

          value                ... fips state       numeric month             \
          count          mean  ...        75%   max         count  mean  std
month                          ...
April       4.0  1.876857e+08  ...       39.0  39.0           4.0   4.0  0.0
August      4.0  2.336167e+08  ...       39.0  39.0           4.0   8.0  0.0
December    3.0  2.136796e+08  ...       39.0  39.0           3.0  12.0  0.0
February    3.0  1.953377e+08  ...       39.0  39.0           3.0   2.0  0.0
January     3.0  2.046495e+08  ...       39.0  39.0           3.0   1.0  0.0
July        4.0  2.284629e+08  ...       39.0  39.0           4.0   7.0  0.0
June        4.0  2.068985e+08  ...       39.0  39.0           4.0   6.0  0.0
March       3.0  2.137858e+08  ...       39.0  39.0           3.0   3.0  0.0
May         4.0  2.037158e+08  ...       39.0  39.0           4.0   5.0  0.0
November    3.0  2.140655e+08  ...       39.0  39.0           3.0  11.0  0.0
October     3.0  2.294219e+08  ...       39.0  39.0           3.0  10.0  0.0
September   4.0  2.207551e+08  ...       39.0  39.0           4.0   9.0  0.0


            min   25%   50%   75%   max
month
April       4.0   4.0   4.0   4.0   4.0
August      8.0   8.0   8.0   8.0   8.0
December   12.0  12.0  12.0  12.0  12.0
February    2.0   2.0   2.0   2.0   2.0
January     1.0   1.0   1.0   1.0   1.0
July        7.0   7.0   7.0   7.0   7.0
June        6.0   6.0   6.0   6.0   6.0
March       3.0   3.0   3.0   3.0   3.0
May         5.0   5.0   5.0   5.0   5.0
November   11.0  11.0  11.0  11.0  11.0
October    10.0  10.0  10.0  10.0  10.0
September   9.0   9.0   9.0   9.0   9.0

[12 rows x 32 columns]

In [13]:
# Group the dataframe by month and find the mean value of each group
oh_month_avg = oh_months.mean()['value']
oh_month_names = oh_months.groups

for month in oh_month_names:
    for value in oh_month_avg:
        print(f'The average value in {month} was ${value:,.0f}')

The average value in April was $187,685,699
The average value in April was $233,616,698
The average value in April was $213,679,648
The average value in April was $195,337,738
The average value in April was $204,649,463
The average value in April was $228,462,912
The average value in April was $206,898,478
The average value in April was $213,785,765
The average value in April was $203,715,848
The average value in April was $214,065,533
The average value in April was $229,421,898
The average value in April was $220,755,112
The average value in August was $187,685,699
The average value in August was $233,616,698
The average value in August was $213,679,648
The average value in August was $195,337,738
The average value in August was $204,649,463
The average value in August was $228,462,912
The average value in August was $206,898,478
The average value in August was $213,785,765
The average value in August was $203,715,848
The average value in August was $214,065,533
The average value in August was $229,421,898
The average value in August was $220,755,112
The average value in December was $187,685,699
The average value in December was $233,616,698
The average value in December was $213,679,648
The average value in December was $195,337,738
The average value in December was $204,649,463
The average value in December was $228,462,912
The average value in December was $206,898,478
The average value in December was $213,785,765
The average value in December was $203,715,848
The average value in December was $214,065,533
The average value in December was $229,421,898
The average value in December was $220,755,112
The average value in February was $187,685,699
The average value in February was $233,616,698
The average value in February was $213,679,648
The average value in February was $195,337,738
The average value in February was $204,649,463
The average value in February was $228,462,912
The average value in February was $206,898,478
The average value in February was $213,785,765
The average value in February was $203,715,848
The average value in February was $214,065,533
The average value in February was $229,421,898
The average value in February was $220,755,112
The average value in January was $187,685,699
The average value in January was $233,616,698
The average value in January was $213,679,648
The average value in January was $195,337,738
The average value in January was $204,649,463
The average value in January was $228,462,912
The average value in January was $206,898,478
The average value in January was $213,785,765
The average value in January was $203,715,848
The average value in January was $214,065,533
The average value in January was $229,421,898
The average value in January was $220,755,112
The average value in July was $187,685,699
The average value in July was $233,616,698
The average value in July was $213,679,648
The average value in July was $195,337,738
The average value in July was $204,649,463
The average value in July was $228,462,912
The average value in July was $206,898,478
The average value in July was $213,785,765
The average value in July was $203,715,848
The average value in July was $214,065,533
The average value in July was $229,421,898
The average value in July was $220,755,112
The average value in June was $187,685,699
The average value in June was $233,616,698
The average value in June was $213,679,648
The average value in June was $195,337,738
The average value in June was $204,649,463
The average value in June was $228,462,912
The average value in June was $206,898,478
The average value in June was $213,785,765
The average value in June was $203,715,848
The average value in June was $214,065,533
The average value in June was $229,421,898
The average value in June was $220,755,112
The average value in March was $187,685,699
The average value in March was $233,616,698
The average value in March was $213,679,648
The average value in March was $195,337,738
The average value in March was $204,649,463
The average value in March was $228,462,912
The average value in March was $206,898,478
The average value in March was $213,785,765
The average value in March was $203,715,848
The average value in March was $214,065,533
The average value in March was $229,421,898
The average value in March was $220,755,112
The average value in May was $187,685,699
The average value in May was $233,616,698
The average value in May was $213,679,648
The average value in May was $195,337,738
The average value in May was $204,649,463
The average value in May was $228,462,912
The average value in May was $206,898,478
The average value in May was $213,785,765
The average value in May was $203,715,848
The average value in May was $214,065,533
The average value in May was $229,421,898
The average value in May was $220,755,112
The average value in November was $187,685,699
The average value in November was $233,616,698
The average value in November was $213,679,648
The average value in November was $195,337,738
The average value in November was $204,649,463
The average value in November was $228,462,912
The average value in November was $206,898,478
The average value in November was $213,785,765
The average value in November was $203,715,848
The average value in November was $214,065,533
The average value in November was $229,421,898
The average value in November was $220,755,112
The average value in October was $187,685,699
The average value in October was $233,616,698
The average value in October was $213,679,648
The average value in October was $195,337,738
The average value in October was $204,649,463
The average value in October was $228,462,912
The average value in October was $206,898,478
The average value in October was $213,785,765
The average value in October was $203,715,848
The average value in October was $214,065,533
The average value in October was $229,421,898
The average value in October was $220,755,112
The average value in September was $187,685,699
The average value in September was $233,616,698
The average value in September was $213,679,648
The average value in September was $195,337,738
The average value in September was $204,649,463
The average value in September was $228,462,912
The average value in September was $206,898,478
The average value in September was $213,785,765
The average value in September was $203,715,848
The average value in September was $214,065,533
The average value in September was $229,421,898
The average value in September was $220,755,112

### Identify any sharp dips/rises in Ohio dataset